/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 */
#caption {
    font-family: 'Josefin Slab', serif;
    font-size: 48px;
    color: #8b8a81;
}

body {
    background: #181816;
}

#goButton {
    min-height: 36px;
    min-width: 36px;
    background: #0c537c;
    border: none;
    color: #171713;
    cursor: pointer;
}

#goButton:hover {
    background: #0c7ebb;
}

#goButton:active {
    background: #0c3554;
}

#queryWord {
    width: 480px;
    border: solid 1px #46453e;
    padding: 8px;
    font-size: 16px;
    background: #41413e;
}

#queryWord:hover {
    background: #6a6a66;
}

#queryWord:focus {
    background: #8b8a81;
}

#result {
    position: relative;
    /*border: solid;*/
    width: 720px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
}

#user {
    background: #41413e;
    position: relative;
    /*margin: 16px;/*/
    padding: 8px;
    width: 700px;
    border-bottom: solid 1px #62615a;
    height: 100px;
    overflow: hidden;
}

#user #more-data {
    margin-top: 8px;
    font: "Courier";
    font-size: 13px;;
    word-wrap: break-word;
    padding: 16px;
    background: #41413e;
    color: #d6d5cb;
}

#user #user-info {
    position: relative;
    /*border: solid 1px;*/
    left: 96px;
    margin-top: -86px;
    width: 600px;
    text-overflow: ellipsis;
    /*float: right;*/
}

#user #user-info #name {
    font-size: 4em;
    color: #8b8a81;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .5); /* 50% black coming from the top */
}

#user #user-info #username {
    font-size: 1.6em;
    font-style: italic;
    color: #d6d5cb;
}

#user #user-info #username a {
    text-decoration: none;
    color: #6f6e65;
}

#user #user-info #username a:hover {
    text-decoration: underline;
}

#mydialog {
    visibility: hidden;
    position: fixed;
    width: 640px;
    height: 480px;
    left: 200px;
    padding: 16px;
    z-index: 1000;
    background: #d6d5cb;
    word-break: break-all;

}

#more-info {
    /*background: #0c7ebb;*/
    padding: 16px;
    margin-top: 8px;
    word-break: break-all;
}

#more-info #repo {
    background: #181816;
    border-radius: 4px;
    border: solid 1px #181816;
    margin: 8px;
    padding: 8px;
    word-break: break-all;
    color: #d6d5cb;
}

#more-info #repo #title {
    font-size: 48px;
    color: brown;
}

#more-info #repo #title a {
    text-decoration: none;
    color: brown;
}

#more-info #repo #title a:hover {
    text-decoration: underline;
}

#more-info #repo p {
    font-family: 'Josefin Slab', serif;
    font-style: italic;
    font-size: 14px;
    color: #62615a;
}
#more-info #repo table, td, tr
{
    border:none;
    color: #d6d5cb;
}
#more-info #repo tr
{
    /*background-color:#41413e;*/
    padding: 8px;
    color: #d6d5cb;
}
